.DraftEditor-root {
  border: 1px solid $teal;
  padding: 20px;
  height: 100%;
  border-radius: 3px;
}

.rdw-editor-toolbar {
  border: 1px solid $teal;
}

.rdw-image-modal {
  left: -215px;
}

.rdw-emoji-modal {
  left: -169px;
}

.rdw-embedded-modal {
  left: -124px;
}